<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Conference | Delete Conference</title>
    <style>
      body {
        text-align: center;
        font-family: sans-serif;
      }

      .conference {
        width: 30%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .conference p:first-child {
        font-size: 22px;
        font-weight: 700;
      }
    </style>
  </head>
  <body>
    <h1>information technolgy</h1>
    <hr />
    <div>
      <div class="conference">
        <p>Name</p>
        <p>uwibambe</p>
      </div>

      <div class= "conference">
        <p>Email</p>
        <p>uwibambesandrine@gmail.com</p>
      </div>
      <a href="./delete-confirm">Delete</a>
    </div>
  </body>
</html>
